.jumbotron {
    font-size:14px;
}
h1 {
    font-size: 26px;
    margin-left:5%; 
    width:100%;   
}
li{
    list-style: none;
}
h3{
    font-weight:900;
    color:white;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
#contle {
	margin-top:4.5%;
}
#map {

	display:none;
	margin-top: 1%;
}
#temperatura, #descripcion {
    font-size:12px;
}

@media (max-width: 680px )
{
    body {
        font-size:10px;
    }
    #cesium {
        margin-bottom:21%;
    }
    #contle{
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 3%;
    }

}	

@media (max-width: 1024px )
{

    #contle{
    
        margin-top:14.8%;
        margin-left:6%;
    }
    h1 {
        margin-left: 5%;
    }
    h3 {
        font-size:16px;
    }
    li,span {
        font-size: 12px;
    }
    #map{
        height:300px;
    }
}

@media (max-width: 1500px )
{
    .jumbotron {
        font-size: 18px;
    }
    #contle {

        margin-top:4.5%;
        height:auto;
    }
    #map{
        margin-top:10%;
    }


}

@media (max-width: 1960px )
{
    .jumbotron {
        font-size: 22px;
    }
    #contle {

        margin-top:4.5%;
        height:auto;
    }
    #map{
        margin-top:10%;
    }


}




